<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyh.zyhTest.mybatis.dao.TestUserMapper" >
  <resultMap id="BaseResultMap" type="com.zyh.zyhTest.mybatis.entity.TestUser" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, USER_NAME, AGE
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_test_user
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_test_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zyh.zyhTest.mybatis.entity.TestUser" >
    insert into t_test_user (ID, USER_NAME, AGE
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{age,jdbcType=TINYINT}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.zyh.zyhTest.mybatis.entity.TestUser" >
    insert into t_test_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="age != null" >
        AGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zyh.zyhTest.mybatis.entity.TestUser" >
    update t_test_user
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zyh.zyhTest.mybatis.entity.TestUser" >
    update t_test_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>